<% content_for :header do %>
    <%= stylesheet_link_tag "login" %>

<% end %>

<% content_for :content do %>

    <div class="container">
        <div class="card card-container">
            <% flash.each do |key, value| %>
                <div class="alert alert-danger"><%= value %></div>
            <% end %>
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <%= form_tag("/login", method: "post", class: "form-signin") do %>
                <span id="reauth-email" class="reauth-email"></span>
                <input type="text" id="inputEmail" name="username" class="form-control" placeholder="Username" required autofocus>
                <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>

                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            <% end %><!-- /form -->
        </div><!-- /card-container -->
    </div><!-- /container -->
<% end %>
